@{
    ViewBag.Title = "MVCxDashboard";
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/UnderlyingData.js"></script>
}

<div id="myPopup"></div>
<div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
    @Html.DevExpress().Dashboard(settings => {
    settings.Name = "Dashboard";
    settings.ControllerName = "DefaultDashboard";
    settings.WorkingMode = DevExpress.DashboardWeb.WorkingMode.Viewer;
    settings.ClientSideEvents.BeforeRender = "onBeforeRender";
}).GetHtml()
</div>